**/__pycache__/**
/venv
/marvelData
/marvelData_init
/build
/dist
/video
/music
/notes
/save
/audio/bibles
/.idea
/plugins/menu/NotesUtility/noteFileGoogleCloudId.txt
/plugins/*.py
/plugins/*.zip
/plugins/menu/*.py
/plugins/menu/*.zip
/plugins/context/*.py
/plugins/context/*.zip
/plugins/context/Strongs2csv/*.csv
/plugins/context/Strongs2csv/NASBs.bib
/plugins/context/Interlinear Data.xlsx
/plugins/context/Interlinear Data.csv
/plugins/menu/Interlinear Data.xlsx
/plugins/menu/Interlinear Data.csv
/plugins/context/Interlinear_Data.xlsx
/plugins/context/Interlinear_Data.csv
/plugins/menu/Interlinear_Data.xlsx
/plugins/menu/Interlinear_Data.csv
/plugins/menu/Bible Reading Plan.txt
/plugins/menu/圣经阅读计划.txt
/plugins/menu/聖經閱讀計劃.txt
/plugins/startup/*.py
/plugins/startup/*.zip
/plugins/shutdown/*.py
/plugins/shutdown/*.zip
/macros/*.ubam
/macros/save
/tmp
/Documents
/htmlResources/images/export
uba.spec
config.py
custom.py
credentials.json
token.pickle
myTranslation.py
*.pyc
UniqueBible.code-workspace
**.log
**.log.**
htmlResources/main.html
htmlResources/study.html
htmlResources/css/custom.css
htmlResources/js/custom.js
UniqueBible.app.pdf
UniqueBibleApp.docx
WordDocument_NEW.docx
thirdParty/dictionaries/*
shortcut*.py
shortcut_*
BibleVerseParser.py.old
UniqueBibleApp.desktop
UniqueBibleApp.sh
morphology.sqlite
htmlResources/fonts/*
htmlResources/images/[A-Z]*/*
htmlResources/images/qrcode.png
**/.DS_Store
nohup.out
/Perimeter\ Worship\ Songs
htmlResources/main-*.html
htmlResources/lib/pdfjs-2.7.570-dist/web/*.pdf
htmlResources/lib/bibi-v1.2.0/bibi-bookshelf/*.epub
