**/__pycache__/**
/venv
/marvelData
/build
/dist
/notes
/save
/.idea
/macros/*.txt
/macros/save
/tmp
/Documents
/htmlResources/export
config.py
**.log
htmlResources/main.html
htmlResources/study.html
UniqueBible.app.pdf
