**/__pycache__/**
/venv
/marvelData
/marvelData_init
/build
/dist
/notes
/save
/.idea
/macros/*.txt
/macros/save
/tmp
/Documents
/htmlResources/export
config.py
**.log
**.log.**
htmlResources/main.html
htmlResources/study.html
htmlResources/css/custom.css
UniqueBible.app.pdf
thirdParty/dictionaries/*
