[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Path=/home/eliranwong/UniqueBible/
Exec=/home/eliranwong/UniqueBible/shortcut_uba_chromeOS.sh
Icon=/home/eliranwong/UniqueBible/htmlResources/UniqueBibleApp.png
Name=Unique Bible App
