#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Path=/home/eliranwong/Desktop/UniqueBible-master/
Exec=/home/eliranwong/Desktop/venv/venv/bin/python /home/eliranwong/Desktop/UniqueBible-master/main.py
Name=Unique Bible
Icon=/home/eliranwong/Desktop/UniqueBible-master/htmlResources/theText.png
Name[en_GB]=Unique Bible App
